* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 90vh;
    background-image: url(images/background.jpg);
    background-size: cover; 
    background-position: center;
}

p {
    margin: 0;
}

.card {
    width: 90%;
    max-width: 480px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 15px 35px;
    text-align: center;
}

.card h2 {
    margin: 0px 20px 20px 20px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.search input {
    border: 0;
    outline: 0;
    background-color: white;
    color: black;
    padding: 10px 0px 10px 10px;
    height: 60%;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 34px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col-6 {
    display: flex;
    align-items: center;
    text-align: left;
}

.col-6 img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 24px;
}

@media (max-width: 768px) {
    .col-6 img {
        width: 30px; /* Adjust width for smaller screens */
        margin-right: 5px; /* Adjust margin for smaller screens */
    }

    .humidity, .wind {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}

.weather {
    display: none;
}

.error {
    font-size: 14px;
    margin-top: 10px;
    color: white;
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000a6;
    color: #bdbdbd;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}